

@media screen and (max-width: 800px) {
    #form_registration {left:1% !important;
                        top:1% !important;
    }
    #slogan, #logo2, #logo {display: none;}
    #registration_number_email, #registration_password {
        width: 85%;
    }
    #registration_name, #registration_surname {width:40%;}
    
}

@media screen and (max-width: 1024px) {
    #slogan, #logo2 {
        left: 10% !important;
    }
    #form_registration {left:5% !important;}
    }
}

    #policy{
        display:inline-flex;
        font-size:10px;
    }

    #alternative{
        top:30px;
    }

    span {
        font-size:12px;
        position: absolute;
        width: 300px;
        margin: -50px;
        margin-left:-400px;
        padding: 10px;
        color: black;
        font-weight: normal;
        background: white;
        text-align: left;
        border: 1px solid #666;
        visibility:hidden;   
    }
    a:hover span{visibility:visible;}
    .header {
        display: inline-flex;
        position: absolute;
        width: 100%;
        height: 83px;
        background: #3B5998;
        top: 0px;
        left: 0px;
        color: white;
        overflow: hidden;
        z-index: 0;
        padding: 0px;
        border: 0px;
    }

    #logo {
        top: 25px;
        left: 20%;
        position: relative;
        max-width: 100%;
        z-index: 1;
    }

    #logoalter {
        top: 20px;
        left: 1%;
        position: relative;
        z-index: 3;
    }

    #login {
        position: relative;
        display: inline-flex;
        float: right;
        flex-wrap: nowrap;
        right: 50%;
        left: 5%;
        z-index: 1;
    }

    #login_name {
        position: relative;
        float: left;
        top: 27px;
        margin: 2px;
        font-size: 13px;
    }

    #login_password {
        float: left;
        position: relative;
        margin: 2px;
        top: 27px;
        font-size: 13px;
    }

    #forgotten {
        color: rgb(97, 146, 252);
        text-decoration: none;
    }

        #forgotten:hover {
            text-decoration: underline;
        }


    #button_login {
        float: left;
        position: relative;
        margin: 2px;
        height: 22px;
        top: 42px;
        background-color: rgb(74, 113, 197);
        border-color: rgb(51, 89, 155);
        border-width: 1px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 13px;
    }

        #button_login:hover {
            background-color: #29487D;
        }

    .main {
        display: flex;
        position: absolute;
        width: 100%;
        height: 603px;
        top: 83px;
        left: 0px;
        color: black;
        background: linear-gradient(#fefefe, #D4D9E9);
        padding: 0px;
        border: 0px;
        overflow: hidden;
    }

    #main_left {
        position: relative;
        display: block;
    }

    #slogan {
        position: relative;
        float: left;
        left: 40%;
        top: 5%;
        height: auto;
        color: #0e385f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin: 0%;
        background: 0%;
    }

    #logo2 {
        position: relative;
        float: left;
        left: 37%;
        top: auto;
        height: auto;
        width: auto;
        max-width: 100%;
        background: 0%;
        z-index: 1;
    }

    #create_acc {
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .registration_box {
        
        height: 36px;
        font-size: 20px;
        margin: 4px;
        border-radius: 5px;
        padding: 0cm;
    }

    #form_registration {
        position: relative;
        display: block;
        white-space: nowrap;
        float: left;
        top: 5%;
        left: 20%;
    }
    #info {
        font-size:12px;
    }

    .birthday {
        height: 30px;
        width: 60px;
        text-align: center;
    }

    #button_signup {
        background-color: #598a44;
        border-color: rgb(1, 65, 22);
        border-width: 1px;
        color: white;
        font-size: 20px;
        width: 160px;
        height: 40px;
        border-radius: 5px;
    }

        #button_signup:hover {
            background-color: #82c764;
        }

    .footer {
        display: block;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
        height: 80px;
        top: 686px;
        left: 0px;
        color: black;
        background: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 0px;
        border: 0px;
        text-align: center;
    }

    .f_style {
        word-spacing:10px;
    }

    a {
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    #extra_lang { /*Botton for extra languages menu*/
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: gray;
        width: 25px;
        height: 20px;
        background-color: rgb(209, 207, 207);
        border-radius: 3px;
        border-color: grey;
    }

        #extra_lang:hover {
            background-color: rgb(189, 189, 189);
        }
