
@media screen and (max-width: 800px) {
    #logo, #slogan, #logo2 {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    #logo_alternative{
        visibility:visible; 
    }
}

    #par_small:hover span {
        position: absolute;
        display: flex;
        width: 320px;
        z-index: 1;
        margin: -50px;
        margin-left: 40px;
        padding: 10px;
        color: black;
        font-weight: normal;
        background: white;
        text-align: left;
        border: 1px solid #666;
    }

    span {
        display: none;
    }

    .header {
        display: flex;
        position: absolute;
        width: 100%;
        height: 83px;
        background: #3B5998;
        top: 0px;
        left: 0px;
        color: white;
        overflow: hidden;
        z-index: 0;
        padding: 0px;
        border: 0px;
    }

    #logo {
        top: 25px;
        left: 20%;
        position: relative;
        max-width: 100%;
        z-index: 1;
    }
    #logo_alternative {
        top: 25px;
        left: 20%;
        position: relative;
        max-width: 100%;
        visibility: hidden;
        z-index:2;
    }

    #login {
        position: relative;
        display: inline-flex !important;
        float: left;
        flex-wrap: nowrap;
        right: 15%;
        left: 5%;
        z-index: 2;
    }

    #login_name {
        position: relative;
        float: left;
        overflow: hidden;
        top: 27px;
        margin: 2px;
        font-size: 13px;
    }

    #login_password {
        float: left;
        position: relative;
        margin: 2px;
        top: 27px;
        font-size: 13px;
    }

    #forgotten {
        color: rgb(97, 146, 252);
        text-decoration: none;
    }

        #forgotten:hover {
            text-decoration: underline;
        }


    #button_login {
        float: left;
        position: relative;
        margin: 2px;
        height: 22px;
        top: 42px;
        background-color: rgb(74, 113, 197);
        border-color: rgb(51, 89, 155);
        border-width: 1px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 13px;
    }

        #button_login:hover {
            background-color: #29487D;
        }

    .main {
        display: flex;
        position: absolute;
        width: 100%;
        height: 603px;
        top: 83px;
        left: 0px;
        color: black;
        background: linear-gradient(#fefefe, #D4D9E9);
        padding: 0px;
        border: 0px;
        overflow: hidden;
    }

    #main_left {
        position: relative;
        display: block;
    }

    #slogan {
        position: relative;
        right: 10%;
        top: 5%;
        float: right;
        height: 12%;
        width: 60%;
        color: #0e385f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin: 0%;
        background: 0%;
    }

    #logo2 {
        position: relative;
        right: 10%;
        top: 8%;
        float: right;
        height: auto;
        width: 60%;
        max-width: 100%;
        background: 0%;
    }

    #create_acc {
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .registration_box {
        height: 36px;
        font-size: 20px;
        margin: 4px;
        border-radius: 5px;
        padding: 0cm;
        flex-wrap: nowrap;
    }

    #form_registration {
        position: relative;
        display: block;
        top: 5%;
        left: 20%;
    }

    #par_small {
        font-size: 12px;
    }

    .birthday {
        height: 30px;
        width: 60px;
        text-align: center;
    }

    #button_signup {
        background-color: #598a44;
        border-color: rgb(1, 65, 22);
        border-width: 1px;
        color: white;
        font-size: 20px;
        width: 160px;
        height: 40px;
        border-radius: 5px;
    }

        #button_signup:hover {
            background-color: #82c764;
        }

    .footer {
        display: block;
        flex-wrap: nowrap;
        position: relative;
        width: 100%;
        height: 80px;
        top: 686px;
        left: 0px;
        color: black;
        background: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 0px;
        border: 0px;
        text-align: center;
    }

    li {
        display: inline;
        margin: 12px;
        line-height: 20px;
    }

    a {
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    #extra_lang { /*Botton for extra languages menu*/
        display: inline-block;
        text-align: center;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: gray;
        width: 25px;
        height: 20px;
        background-color: rgb(209, 207, 207);
        border-radius: 3px;
        border-color: grey;
    }

        #extra_lang:hover {
            background-color: rgb(189, 189, 189);
        }
