
#par_small:hover span {         /** Find on internet*/
	display: block;
	width: 320px;
	margin: 0px;
	padding: 10px;
	color:black;
	font-weight: normal;
	background:white;
	text-align: left;
    border: 1px solid #666;}
span{display:none;}   

.header{
    display: flex;
    position: absolute;
    width: 100%;
    height: 83px;
    background:#3B5998;
    top: 0px;
    left: 0px;
    color: white;
    align-self: auto;
    overflow: hidden;
}

#logo{
    top:27px;
    left: 450px;
    position: absolute;
}
#login_name{
    position:absolute;
    top:20px;
    left:1050px;
    font-size: 13px;
}
#login_password{
    position:absolute;
    top:20px;
    left:1200px;
    font-size: 13px;
}
#forgotten{
    color: rgb(97, 146, 252);
    text-decoration: none;
}
#forgotten:hover{text-decoration: underline;}


#button_login{
    position: absolute;
    height: 22px;
    top:35px;
    left:1350px;
    background-color: rgb(74, 113, 197);
    border-color: rgb(51, 89, 155);
    border-width: 1px;
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
#button_login:hover{background-color: #29487D;}
.main{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height:603px;
    top: 83px;
    left: 0px;
    color: black;
    background:linear-gradient(#fefefe, #D4D9E9);
}
#slogan{
    position: absolute;
    top: 30px;
    left: 450px;
    color: #0e385f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
#logo2{
    position: absolute;
    align-content: flex-start;
    top: 100px;
    left: 450px;
}
#create_acc{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

.registration_box{
    height: 36px;
    font-size: 20px;
    margin: 4px;
    border-radius: 5px;
    padding: 0cm;
}
#form_registration{
    float: right;
    position: absolute;
    align-content: right;
    top: 20px;
    left: 1000px;
}
#par_small{
    font-size: 12px;
}
#button_signup{
    background-color: #598a44;
    border-color: rgb(1, 65, 22);
    border-width: 1px;
    color: white;
    font-size: 20px;
    width: 160px;
    height: 40px;
    border-radius: 5px;
}
#button_signup:hover{background-color: #82c764;}
.footer{
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 686px;
    left: 0px;
    color:black;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;}

#footer_extra{
    position: fixed;
    width: 50%;
    text-align: left;
    left: 450px;   
}
li {
    display: inline;
    margin: 12px;
    line-height: 20px;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
#extra_lang{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:gray;
    width: 25px;
    height: 20px;
    background-color: rgb(209, 207, 207);
    border-radius: 3px;
    border-color: grey;
}
#extra_lang:hover{background-color: rgb(189, 189, 189);}
